body {
	margin: 0px; 
	padding:  0px;
	border: 0px;
	background: black;
	overflow: hidden;
}

div {
	position: absolute;
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-family: arial;
	font-size: 12px;
	color: white;
	text-align: center;
}

#viewport {
	width: 640px;
	height: 480px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -240px;
}



#playbutton { 
	position:absolute; 
	top:50%; 
	left:50%; 
	margin-left:-137px; 
    margin-top:-25px; 
    width:256px; 
    height:32px; 
    padding:16px; 
    border-radius:16px; 
    border:2px 
    solid black; 
    background:#666666; 
    color:white; 
    text-decoration:none; 
    display:block; 
    font-size:32px; 
    line-height:32px; 
    font-family:arial; font-weight:bold; text-align:center; 
}

  #playbutton:hover { 
  	background:red; 
  }

/* level */
#level {
	width: 2048px;
	height: 100%;
	top: 0px;
	left: 0px;
}
/* Background*/
#background {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: url(bgtile.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	animation: animatedBackground 1000s linear infinite;
	animation-play-state: running;
}

/* Ground */
#ground {
	width: 100%;
	height: 3.5%;
	top: 70%;
	left: 0px;
	background-image: url(ground.png);
	animation: animatedGround 50s linear infinite;
	animation-play-state: running;
}

/* Player */
#player {
	width: 83px;
	height: 100px;
	top: 50%;
	left: 0%;
	background-image: url(run-sprite.png);
}

/*#player #jump {
	width: 83px;
	height: 100px;
	top: 50%;
	left: 0%;
	background-image: ;
}*/

/* Enemy */
.enemy {
	width: 64px;
	height: 41px;
	top: 60%;
	left: 85%;
	background-image: url(bird0.png);
	animation: moveEnemy 15s linear infinite;
}

.enemy[bird="bird0"]  {
	width: 64px;
	height: 41px;
	top: 55%;
	left: 100%;
	background-image: url(bird0.png);
	animation: moveEnemy 8s linear infinite;
	animation-play-state: running;
}

.enemy[bird="bird1"] {
	width: 64px;
	height: 41px;
	top: 53%;
	left: 70%;
	background-image: url(bird0.png);
	animation: moveEnemy 19s linear infinite;
	animation-play-state: running;
}

.enemy[bird="bird2"]  {
	width: 64px;
	height: 41px;
	top: 50%;
	left: 90%;
	background-image: url(bird0.png);
	animation: moveEnemy 10s linear infinite;
	animation-play-state: running;
}

.enemy[bird="bird3"] {
	width: 64px;
	height: 41px;
	top: 59%;
	left: 80%;
	background-image: url(bird0.png);
	animation: moveEnemy 12s linear infinite;
	animation-play-state: running;
}

#spawnButton {
	height: 10px;
	left: 10px;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}


@keyframes animatedGround {
	from {
		background-position: 0 0;
	} to {
		background-position: -10000px 0;
	}
}

@keyframes moveEnemy {
	from {
		left: 2000px;
	} to {
		left: -2000px;
	}
}