body {
	margin: 0px; 
	padding:  0px;
	border: 0px;
	background: black;
	overflow: hidden;
}

div {
	position: absolute;
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-family: arial;
	font-size: 12px;
	color: white;
	text-align: center;
}

#viewport {
	width: 640px;
	height: 480px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -240px;
}

/* level */
#level {
	width: 2048px;
	height: 100%;
	top: 0px;
	left: 0px;
}
/* Background*/
#background {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: url(bgtile.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	animation: animatedBackground 1000s linear infinite;
}

/* Ground */
#ground {
	width: 100%;
	height: 3.5%;
	top: 70%;
	left: 0px;
	background-image: url(ground.png);

}

/* Player */
#player {
	width: 83px;
	height: 100px;
	top: 50%;
	left: 0%;
	background-image: url(run-sprite.png);
}

/* Enemy */
#enemy1 {
	width: 64px;
	height: 41px;
	top: 55%;
	left: 20%;
	background-image: url(bird0.png);
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}


